@font-face {
  font-family: "RobotoRegular";
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'), url('../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSansBold";
  src: url('../fonts/PTSansBold/PTSansBold.eot');
  src: url('../fonts/PTSansBold/PTSansBold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSansBold/PTSansBold.woff') format('woff'), url('../fonts/PTSansBold/PTSansBold.ttf') format('truetype'), url('../fonts/PTSansBold/PTSansBold.svg#PTSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSansRegular";
  src: url('../fonts/PTSansRegular/PTSansRegular.eot');
  src: url('../fonts/PTSansRegular/PTSansRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSansRegular/PTSansRegular.woff') format('woff'), url('../fonts/PTSansRegular/PTSansRegular.ttf') format('truetype'), url('../fonts/PTSansRegular/PTSansRegular.svg#PTSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nerisblack";
  src: url('../fonts/nerisblack/nerisblack.eot');
  src: url('../fonts/nerisblack/nerisblack.eot?#iefix') format('embedded-opentype'), url('../fonts/nerisblack/nerisblack.woff') format('woff'), url('../fonts/nerisblack/nerisblack.ttf') format('truetype'), url('../fonts/nerisblack/nerisblack.svg#nerisblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  min-width: 768px;
  height: 100%;
  font-size: 16px;
  font-family: "PTSansRegular", sans-serif;
  background-color: #e4eaf0;
  color: #2e2e2e;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.hidden,
[hidden] {
  display: none !important;
}
.img-adp,
.iframe-adp {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
a:focus {
  text-decoration: none;
  color: #fff;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden;
}
.wrapper:after {
  content: "";
  height: 836px;
  display: block;
}
.footer {
  position: relative;
  height: 836px;
  margin-top: -836px;
}
.header {
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #11456a), color-stop(100%, #0f4d7a));
  background: linear-gradient(to bottom, #11456a 0%, #0f4d7a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11456a', endColorstr='#0f4d7a', GradientType=0);
}
.header__top {
  padding-top: 38px;
  margin-bottom: 30px;
}
.header__bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo {
  width: 269px;
  position: relative;
  overflow: hidden;
}
.logo__link {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
.logo__head {
  position: absolute;
  left: -9999px;
}
.search {
  width: 421px;
  border-bottom: 2px solid rgba(38, 84, 117, 0.5);
  position: relative;
}
.search__inp {
  border: 0;
  background-color: #11456a;
  padding-left: 12px;
  padding-right: 50px;
  line-height: 55px;
  width: 359px;
  color: #8298a7;
}
.search__inp::-webkit-input-placeholder {
  color: #8298a7;
}
.search__inp::-moz-placeholder {
  color: #8298a7;
}
.search__inp:-moz-placeholder {
  color: #8298a7;
}
.search__inp:-ms-input-placeholder {
  color: #8298a7;
}
.search__inp:focus {
  background: #fff;
  outline: none;
  color: #000;
}
.search__btn {
  width: 23px;
  height: 23px;
  border: 0;
  background: url("../img/icons/search.svg") no-repeat;
  position: absolute;
  right: 22px;
  bottom: 15px;
}
.phone {
  width: 225px;
  height: 57px;
  padding-left: 14px;
  border: 2px solid #265475;
  font-size: 20px;
  cursor: pointer;
  float: right;
  overflow: hidden;
  position: relative;
  font-family: "PTSansBold", sans-serif;
  line-height: 57px;
}
.phone:hover::after {
  background-position: -32px 0;
}
.phone::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 31px;
  height: 43px;
  background: url('../img/icons/phone.png') no-repeat;
  top: 5px;
  right: 5px;
}
.phone__number {
  color: #fff;
}
.phone__number_color {
  color: #8298a7;
}
#nav {
  background-color: #0d4e7b;
}
.nav {
  height: 62px;
}
.menu {
  margin: 0;
  padding: 0;
  font-size: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.menu__item {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  font-family: "PTSansBold", sans-serif;
  font-size: 18px;
  width: 174px;
  text-align: center;
}
.menu__item.active {
  background-color: #f85e08;
}
.menu__item.action {
  background-color: #f85e08;
}
.menu__item:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.menu__item_catalog {
  background-color: #a4ce4d !important;
  width: 263px;
  text-transform: uppercase;
  font-family: "nerisblack", sans-serif;
  font-size: 24px;
  position: relative;
  text-align: left;
  border-right: none !important;
  margin-right: 7px;
  z-index: 3;
}
.menu__item_catalog .menu__link {
  padding-left: 43px;
}
.menu__item_catalog .menu__link:hover {
  background-color: rgba(0, 128, 0, 0);
}
.menu__item_catalog::before {
  content: " ";
  display: block;
  background: url(../img/icons/catalog.png) no-repeat;
  width: 21px;
  height: 16px;
  position: absolute;
  top: 23px;
  left: 10px;
}
.menu__item_catalog::after {
  content: " ";
  display: block;
  background: url(../img/icons/arrow.png) no-repeat;
  width: 9px;
  height: 5px;
  position: absolute;
  right: 13px;
  top: 27px;
}
.menu__link {
  display: block;
  color: #ffffff;
  line-height: 62px;
  position: relative;
  z-index: 1;
}
.menu__link_arrow::after {
  content: " ";
  display: block;
  background: url(../img/icons/arrow.png) no-repeat;
  width: 9px;
  height: 5px;
  position: absolute;
  right: 13px;
  bottom: 27px;
}
.menu__link:hover {
  text-decoration: none;
  color: #fff;
  background-color: #f85e08;
}
.menu-open.open .menu-sub {
  display: block;
}
.menu-open:hover .menu-sub {
  display: block;
}
.menu__item_catalog .menu-sub {
  display: none;
  background-color: #ffffff;
  border-left: none;
  margin-left: 8px;
  position: relative;
  z-index: 3;
  width: 255px;
}
.menu__item_catalog .menu-sub__item {
  list-style: none;
}
.menu__item_catalog .menu-sub__item:not(:last-child) {
  border-bottom: 1px solid #dadada;
}
.menu__item_catalog .menu-sub__item.action {
  background-color: #a4ce4d;
}
.menu__item_catalog .menu-sub__item.action .menu-sub__link {
  color: #ffffff;
}
.menu__item_catalog .menu-sub__item.action .menu-sub__link:after {
  background-position: -5px 0;
}
.menu__item_catalog .menu-sub__link {
  font-size: 16px;
  font-family: "PTSansBold", sans-serif;
  display: block;
  height: 75px;
  line-height: 75px;
  padding-left: 12px;
  position: relative;
}
.menu__item_catalog .menu-sub__link.menu-sub-open:after {
  content: " ";
  display: block;
  background: url(../img/icons/arrow-r.png);
  width: 5px;
  height: 9px;
  position: absolute;
  top: 33px;
  right: 14px;
}
.menu__item_catalog .menu-sub__link.menu-sub-open:hover:after {
  background-position: -5px 0;
}
.menu__item_catalog .menu-sub__link:hover {
  text-decoration: none;
  background-color: #a4ce4d;
  color: #ffffff;
}
.menu-sub {
  display: none;
  background-color: #ffffff;
  border-left: 8px solid #f85e08;
  position: relative;
  z-index: 3;
  box-shadow: 5px 9px 10px 0px rgba(0, 0, 0, 0.35);
  width: 174px;
}
.menu-sub_size {
  width: 230px;
}
.menu-sub__item {
  list-style: none;
}
.menu-sub__item:not(:last-child) {
  border-bottom: 1px solid #dadada;
}
.menu-sub__link {
  display: block;
  font-size: 16px;
  font-family: "PTSansRegular", sans-serif;
  line-height: 36px;
  white-space: nowrap;
  padding-left: 24px;
  padding-right: 25px;
  color: #38689c;
  line-height: 55px;
  text-align: left;
}
.menu-sub__link:hover {
  text-decoration: none;
  background-color: #f2f2f2;
  color: #38689c;
}
.menu-sub-open {
  position: relative;
}
.menu-sub-open:hover .menu-sub-sub {
  display: block;
}
.menu-sub-sub {
  display: none;
  position: absolute;
  background-color: #ffffff;
  left: 255px;
  top: 0;
  border-left: 8px solid #a4ce4d;
  box-shadow: 5px 9px 10px 0px rgba(0, 0, 0, 0.35);
}
.menu-sub-sub__item {
  list-style: none;
}
.menu-sub-sub__item:not(:last-child) {
  border-bottom: 1px solid #dadada;
}
.menu-sub-sub__link {
  display: block;
  font-size: 16px;
  font-family: "PTSansRegular", sans-serif;
  line-height: 36px;
  white-space: nowrap;
  padding-left: 24px;
  padding-right: 25px;
  color: #38689c;
  line-height: 55px;
  text-transform: none;
}
.menu-sub-sub__link:hover {
  text-decoration: none;
  background-color: #f2f2f2;
  color: #38689c;
}
.menu-company {
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 22px;
  position: relative;
}
.menu-company__item {
  list-style: none;
  float: left;
  padding-right: 24px;
}
.menu-company__link {
  display: block;
}
.menu-company__img {
  -webkit-filter: grayscale();
          filter: grayscale();
  margin-bottom: 8px;
  opacity: .7;
}
.menu-company__img_poz {
  position: absolute;
  top: 130px;
}
.menu-company__img_poz2 {
  margin-top: 14px;
  margin-right: 10px;
}
.menu-company__img:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}
.head-filter {
  position: relative;
}
.head-filter__img {
  position: absolute;
  top: 85px;
  left: 50%;
}
.head-filter__img.loop {
  margin-left: -48px;
}
.head-filter__img.doc {
  margin-left: -36.5px;
}
.head-filter__img.mic {
  margin-left: -55px;
}
.head-filter__link {
  display: block;
  border: 8px solid #265475;
  text-align: center;
  height: 425px;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  font-family: nerisblack;
  position: relative;
  z-index: 1;
  padding-top: 240px;
}
.head-filter__link::after {
  content: " ";
  display: block;
  height: 8px;
  width: 130px;
  margin-top: 22px;
  background-color: #a4ce4d;
  position: absolute;
  left: 50%;
  margin-left: -65px;
}
.head-filter__link:hover {
  border-color: #a4ce4d;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.52);
}
.footer__top {
  background: #fff;
}
.footer__menu {
  background: url(../img/footer-meu.png) no-repeat center center;
}
.footer-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 68px;
  padding-bottom: 56px;
}
.footer-nav__item-head a {
  font-family: "PTSansBold", sans-serif;
  font-size: 20px;
  color: #2e2e2e;
  line-height: 30px;
}
.footer-nav__item-head a:hover {
  text-decoration: none;
  color: #0D4E7B;
}
.footer-nav__item a {
  font-family: "PTSansRegular", sans-serif;
  font-size: 18px;
  color: #2e2e2e;
  line-height: 30px;
}
.footer-nav__item a:hover {
  color: #0D4E7B;
}
.footer__contacts {
  background-color: #11456a;
  padding-top: 50px;
}
.address {
  padding-top: 85px;
  font-size: 18px;
  color: #ffffff;
  background: url('../img/logo2.png') no-repeat top left;
}
.address__item {
  list-style: none;
}
.address__item:not(:last-child) {
  margin-bottom: 31px;
}
.address__item span {
  color: #4578a4;
}
.address__item.loc:before {
  content: " ";
  display: inline-block;
  width: 24px;
  height: 36px;
  margin-right: 19px;
  background: url(../img/icons/loc.png) no-repeat;
  position: relative;
  top: 10px;
}
.address__item.tel:before {
  content: " ";
  display: inline-block;
  width: 18px;
  height: 32px;
  margin-right: 21px;
  background: url("../img/icons/tel.svg") no-repeat;
  position: relative;
  top: 7px;
}
.address__item.email:before {
  content: " ";
  display: inline-block;
  width: 27px;
  height: 22px;
  margin-right: 17px;
  background: url("../img/icons/email.svg") no-repeat;
  position: relative;
  top: 4px;
}
.forms {
  color: #ffffff;
}
.forms.footer-form {
  color: #fff;
}
.forms.footer-form h3 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 50px;
}
.form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.form__input {
  display: block;
  width: 249px;
  height: 57px;
  margin-bottom: 15px;
  margin-right: 15px;
  border: 2px solid #265475;
  background-color: #11456a;
  padding: 0 17px;
}
.form__input::-webkit-input-placeholder {
  color: #809cb0;
}
.form__input::-moz-placeholder {
  color: #809cb0;
}
.form__input:-moz-placeholder {
  color: #809cb0;
}
.form__input:-ms-input-placeholder {
  color: #809cb0;
}
.form__input:focus {
  background: #fff;
  outline: none;
  color: #000;
}
.form__text {
  width: 484px;
  height: 201px;
  border: 2px solid #265475;
  background-color: #11456a;
  resize: none;
  padding: 15px 24px;
}
.form__text::-webkit-input-placeholder {
  color: #809cb0;
}
.form__text::-moz-placeholder {
  color: #809cb0;
}
.form__text:-moz-placeholder {
  color: #809cb0;
}
.form__text:-ms-input-placeholder {
  color: #809cb0;
}
.form__text:focus {
  background: #fff;
  outline: none;
  color: #000;
}
.form__btn {
  width: 214px;
  height: 57px;
  border: none;
  background-color: #f85e08;
  color: #ffffff;
  font-size: 24px;
  overflow: hidden;
  float: right;
  margin-bottom: 44px;
}
.form__btn:hover {
  background-color: #e05409;
}
.footer__copyright {
  background-color: #0c395a;
  height: 63px;
}
.footer-copy .row {
  padding-left: 15px;
  padding-right: 15px;
}
.footer-copy__copy {
  font-size: 18px;
  line-height: 63px;
  color: rgba(151, 205, 255, 0.5);
}
.footer-copy__devel {
  float: right;
  overflow: hidden;
}
.footer-copy__devel a {
  font-size: 18px;
  line-height: 63px;
  color: rgba(151, 205, 255, 0.5);
  display: block;
}
.footer-copy__devel a:hover {
  text-decoration: none;
}
.footer-copy__devel a:hover .devel {
  opacity: 1;
}
.devel {
  opacity: 0.3;
}
.margin-98 {
  margin-top: 98px;
}
.head-2 {
  font-family: "nerisblack", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 35px;
  color: #0f4d78;
  border-left: 8px solid #a4ce4d;
  padding-top: 26px;
  padding-left: 26px;
  padding-bottom: 26px;
}
.product {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.product:hover {
  box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.41);
}
.product:hover .product__text {
  background-color: #a4ce4d;
}
.product__link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.product__text {
  background-color: rgba(15, 78, 122, 0.95);
  height: 65px;
  margin-top: -65px;
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 18px;
  padding-top: 7px;
  padding-left: 20px;
}
.product__class {
  display: block;
}
.new {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
}
.new:hover {
  box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.41);
}
.new__link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.new__link:hover {
  box-shadow: inset 0px -5px 0px 0px #a4ce4d;
}
.new__text {
  padding: 12px 20px 25px;
  background: #fff;
  color: #2e2e2e;
  font-size: 20px;
  line-height: 24px;
  font-family: "PTSansBold", sans-serif;
  height: 158px;
}
.new__date {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #949494;
  font-family: "PTSansRegular", sans-serif;
}
.more-link {
  height: 66px;
  text-align: center;
  display: block;
  line-height: 66px;
  background-color: #0f4e7a;
  color: #fff;
  font-family: "PTSansBold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.more-link:hover {
  background: #a4ce4d;
  text-decoration: none;
  color: #ffffff;
}
.more-link__catalog:before {
  content: " ";
  display: inline-block;
  background: url(../img/icons/catalog-link.png);
  width: 19px;
  height: 19px;
  position: relative;
  top: 2px;
  left: -13px;
}
.more-link__news:before {
  content: " ";
  display: inline-block;
  background: url(../img/icons/catalog-news.png);
  width: 21px;
  height: 14px;
  position: relative;
  left: -13px;
}
.more-link__news-plus:before {
  content: " ";
  display: inline-block;
  background: url(../img/icons/news-plus.png);
  width: 19px;
  height: 19px;
  position: relative;
  top: 2px;
  left: -13px;
}
.release {
  position: relative;
}
.release__link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.release__text {
  padding-top: 63px;
  padding-left: 46px;
  padding-bottom: 70px;
  color: #ffffff;
  z-index: 1;
  position: relative;
  height: 244px;
}
.release__text_black {
  color: #2e2e2e;
  width: 68%;
}
.release__head {
  font-family: "PTSansBold", sans-serif;
  font-size: 20px;
  line-height: 25px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.release__info {
  font-family: "PTSansRegular", sans-serif;
  font-size: 18px;
  line-height: 14px;
}
.release__bg {
  position: absolute;
  width: 100000px;
  height: 244px;
  background: url(../img/bg.jpg);
  top: 0px;
}
.release__bg_left {
  margin-left: -99251px;
}
.release__bg_center {
  background: url(../img/bg2.jpg);
  margin-left: -1000px;
}
.release__bg-color1 {
  background: #0f4e7a;
}
.release__bg-color2 {
  background: #a4ce4d;
}
.release-more__link {
  font-family: "nerisblack", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 244px;
  color: #0f4d78;
  margin-left: 66px;
}
.release-more__link:hover {
  text-decoration: none;
}
.release-more__link:hover:before {
  background-position: -35px 0px;
}
.release-more__link:before {
  content: " ";
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../img/icons/release-more.png);
  position: relative;
  left: -12px;
  top: 5px;
}
.margin-40 {
  margin-top: 40px;
}
.city {
  position: absolute;
}
.city .tabs {
  font-size: 0;
}
.city .tabs__item {
  display: inline-block;
  list-style: none;
  font-size: 20px;
  font-family: "PTSansBold", sans-serif;
  width: 157px;
  height: 58px;
  text-align: center;
  color: #0f4d78;
  border: 2px solid #0f4d78;
  line-height: 58px;
  cursor: pointer;
}
.city .tabs__item.active {
  background-color: #0f4d78;
  color: #fff;
}
.tabs__content {
  display: none !important;
}
.tabs__content.active {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.contacts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.contacts__left {
  margin-top: 130px;
  margin-right: 37px;
}
.contacts .address__item {
  font-size: 18px;
  color: #0f4d78;
  margin-bottom: 15px;
  height: 42px;
}
.contacts .address__item span {
  color: #0f4d78;
}
.map {
  margin-bottom: 45px;
}
.call__item {
  width: 391px;
  height: 148px;
  border: 8px solid #d3dce5;
  margin-top: 35px;
  position: relative;
  padding-top: 40px;
  padding-left: 175px;
  overflow: hidden;
}
.call__item:hover {
  border: 8px solid #0f4d78;
}
.call__link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
}
.call__name {
  color: #0f4d78;
  font-size: 20px;
}
.call__name_specialist:before {
  content: " ";
  display: inline-block;
  background: url(../img/icons/mic-b.svg);
  width: 110px;
  height: 103px;
  margin-right: 33px;
  position: absolute;
  left: 24px;
  top: 16px;
}
.call__name_existence:before {
  content: " ";
  display: inline-block;
  background: url(../img/icons/doc-b.svg);
  width: 73px;
  height: 97px;
  margin-right: 54px;
  position: absolute;
  left: 40px;
  top: 18px;
}
.catalog__item {
  margin-bottom: 47px;
}
.catalog__img {
  width: 100%;
  height: auto;
}
.catalog__list {
  background-color: #ffffff;
  padding: 35px 34px 0;
  height: 420px;
}
.catalog__list__head {
  font-size: 30px;
  font-family: "nerisblack", sans-serif;
  text-transform: uppercase;
  line-height: 36px;
  color: #145581;
  border-bottom: 2px solid #0f4d78;
  padding-bottom: 12px;
  margin-bottom: 20px;
}
.catalog__list__item {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 18px;
}
.catalog__link {
  color: #0f4d78;
  position: relative;
  z-index: 2;
}
.catalog__link:focus {
  color: #0f4d78;
}
.catalog__link:hover {
  text-decoration: none;
}
.catalog__link:hover:after {
  content: " ";
  display: inline-block;
  background: url(../img/icons/catalog-link-arrow.png);
  width: 5px;
  height: 9px;
  position: relative;
  left: 10px;
}
.catalog__link__head {
  color: #0f4d78;
}
.catalog__link__head:hover {
  text-decoration: none;
  color: #a4ce4d;
}
.catalog__link__head:focus {
  color: #0f4d78;
}
.catalog-box {
  position: relative;
}
.catalog-box__link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.catalog_call {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px 80px 15px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog_call .call__item {
  width: 555px;
  height: 164px;
  margin-top: 0;
  padding-top: 60px;
  padding-left: 220px;
}
.catalog_call .call__name_specialist:before {
  left: 82px;
  top: 26px;
}
.catalog_call .call__name_existence:before {
  left: 126px;
  top: 26px;
}
.search-box {
  background-color: #ffffff;
  margin-bottom: 47px;
}
.search-box__head {
  text-align: center;
  display: block;
  width: 523px;
  height: 73px;
  margin: 0 auto;
  background: #105281;
  color: #ffffff;
  font-size: 30px;
  font-family: "nerisblack", sans-serif;
  text-transform: uppercase;
  line-height: 73px;
  position: relative;
}
.search-box__head:before {
  content: " ";
  display: inline-block;
  height: 73px;
  width: 70px;
  background: url(../img/search-box.png);
  position: absolute;
  left: 0;
}
.search-box__head:after {
  content: " ";
  display: inline-block;
  height: 73px;
  width: 70px;
  background: url(../img/search-box.png);
  position: absolute;
  background-position: -70px 0;
  right: 0;
}
.search-box__form {
  margin-top: 42px;
  padding: 0 34px 32px;
}
.search-box__form_top {
  position: relative;
  margin-bottom: 42px;
}
.search-box__form_bottom {
  position: relative;
}
.search-box__form label {
  position: absolute;
  top: -35px;
  font-size: 16px;
  line-height: 43px;
  color: #2e2e2e;
}
.search-box__form select {
  width: 353px;
  height: 57px;
  border: 1px solid #80a2c3;
  margin-right: 28px;
  padding: 0 12px 0 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none!important;
  background: url(../img/icons/select-arrow.png) no-repeat right center;
}
.search-box__form select:focus {
  border: 2px solid #265475;
  outline: none;
}
.search-box__form option {
  padding: 0 0 0 12px;
}
.search-box__form input[type="text"] {
  border: 1px solid #80a2c3;
  height: 57px;
  width: 135px;
  padding: 0 0 0 12px;
}
.search-box__form input[type="text"]:not(:last-child) {
  margin-right: 26px;
}
.search-box__form input[type="text"]:focus {
  border: 2px solid #265475;
  outline: none;
}
.search-box__form .area {
  width: 190px !important;
}
.search-box__form .go-form {
  height: 57px;
  background-color: #f85e08;
  border: none;
  width: 300px;
  color: #ffffff;
  font-size: 24px;
  font-family: "PTSansBold", sans-serif;
  position: relative;
  margin-left: -20px;
}
.search-box__form .go-form_loop {
  display: inline-block;
}
.search-box__form .go-form_loop:before {
  content: " ";
  width: 20px;
  height: 20px;
  background: url(../img/icons/search-form.svg) no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 90px;
  opacity: 0.5;
}
.search-box__form .go-form_loop:hover .go-form {
  background-color: #e05409;
}
.search-box__form .go-form_loop:hover:before {
  opacity: 1;
}
.search-box__form .min-max {
  position: absolute;
  right: 145px;
  top: 15px;
}
.news-wrap .row {
  margin-bottom: 69px;
}
.news-box {
  font-size: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news-box .new {
  width: 262px;
}
.news-slide {
  margin-bottom: 40px;
}
.news-slide__img {
  width: 100%;
  height: auto;
}
.news-slide .slick-dots {
  margin-top: 34px;
}
.news-slide .slick-dots li {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  cursor: pointer;
  color: transparent;
  outline: none;
  background: transparent;
  border: 2px solid #014687;
}
.news-slide .slick-dots li.slick-active {
  background: #014687;
}
.news-slide .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.heads__h2 {
  margin-top: 34px;
  margin-bottom: 34px;
  padding-left: 10px;
  font-family: "nerisblack", sans-serif;
  color: #0f4d78;
  border-left: 6px solid #a4ce4d;
  line-height: 27px;
  height: 35px;
  font-size: 50px;
  text-transform: uppercase;
}
.heads-news {
  margin-top: 34px;
  margin-bottom: 34px;
  border-left: 6px solid #a4ce4d;
}
.heads-news__time {
  font-size: 16px;
  color: #949494;
  padding-left: 9px;
}
.heads-news__h2 {
  font-family: "nerisblack", sans-serif;
  font-size: 30px;
  color: #0f4d78;
  padding-left: 9px;
}
.links__list {
  list-style: none;
  font-size: 0;
}
.links__item {
  display: inline-block;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  color: #115382;
}
.links__link {
  color: #ffffff;
}
.links__link span {
  background: #0f4d78;
  line-height: 26px;
  display: inline-block;
  padding-left: 12px;
  padding-right: 6px;
}
.links__link:hover {
  color: #fff;
  text-decoration: none;
}
.links__link:hover span {
  background: #f85e08;
}
.links__link:hover:after {
  background-position: -16px 0;
}
.links__link:hover:before {
  background-position: -12px 0;
}
.links__link:after {
  content: " ";
  display: inline-block;
  background: url(../img/icons/arrow-links.png);
  width: 16px;
  height: 26px;
  position: relative;
  top: 8px;
  margin-right: 10px;
}
.links__link_next {
  margin-left: -18px;
}
.links__link_next:before {
  content: " ";
  display: inline-block;
  background: url(../img/icons/arrow-links-next.png);
  width: 12px;
  height: 26px;
  position: relative;
  top: 8px;
  left: 2px;
}
.links__link_next span {
  padding-left: 10px;
}
.error-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.error {
  padding-top: 155px;
  padding-bottom: 348px;
  width: 71%;
  zoom: 1;
}
.error:before,
.error:after {
  content: "";
  display: table;
}
.error:after {
  clear: both;
}
.error__img {
  float: left;
  margin-right: 23px;
}
.error__head {
  white-space: nowrap;
  font-family: "nerisblack", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 43px;
  color: #11456a;
  margin-top: 7px;
}
.error__text {
  font-size: 18px;
  line-height: 25px;
  color: #11456a;
}
.error__link {
  color: #11456a;
  font-size: 18px;
  text-decoration: underline;
}
.error__link:hover {
  text-decoration: none;
}
