@import "base";

.wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;		
}
.wrapper:after {
	content: "";
	height: 836px;
	display: block;
}
.footer {
	position: relative;
	height: 836px;
	margin-top: -836px;
}

//=== Шапка ===

.header {
	background: -moz-linear-gradient(top, rgba(17,69,106,1) 0%, rgba(15,77,122,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,69,106,1)), color-stop(100%, rgba(15,77,122,1)));
	background: -webkit-linear-gradient(top, rgba(17,69,106,1) 0%, rgba(15,77,122,1) 100%);
	background: -o-linear-gradient(top, rgba(17,69,106,1) 0%, rgba(15,77,122,1) 100%);
	background: -ms-linear-gradient(top, rgba(17,69,106,1) 0%, rgba(15,77,122,1) 100%);
	background: linear-gradient(to bottom, rgba(17,69,106,1) 0%, rgba(15,77,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11456a', endColorstr='#0f4d7a', GradientType=0 );
}
.header__top {
	padding-top: 38px;
	margin-bottom: 30px;
}

.header__bottom {
	padding-top: 30px;
	padding-bottom: 30px;
}

//=== Логотип ===

.logo {
	width: 269px;
	position: relative;
	overflow: hidden;
	&__link {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
	}
	&__head {
		position: absolute;
		left: -9999px;
	}
}

//=== Поиск ===

.search {
	width: 421px;
	border-bottom: 2px solid rgba(38, 84, 117, 0.5);
	position: relative;
	&__inp {
		border: 0;
		background-color: #11456a;
		padding-left: 12px;
		padding-right: 50px;
		line-height: 55px;
		width: 359px;
		color: #8298a7;
		&::-webkit-input-placeholder {color:#8298a7;}
		&::-moz-placeholder          {color:#8298a7;}
		&:-moz-placeholder           {color:#8298a7;}
		&:-ms-input-placeholder      {color:#8298a7;}
		
		&:focus {
			background: #fff;
			outline: none;
			color: #000;
		}
	}
	&__btn {
		width: 23px;
		height: 23px;
		border: 0;
		background: url("../img/icons/search.svg") no-repeat;
		position: absolute;
		right: 22px;
		bottom: 15px;
	}
}

//=== Телефон ===

.phone {
	width: 225px;
	height: 57px;
	padding-left: 14px;
	border: 2px solid @border-color;
	font-size: 20px;
	cursor: pointer;
	float: right;
	overflow: hidden;
	position: relative;
	font-family: @font-bold;
	line-height: 57px;
	&:hover {
		&::after{
			background-position: -32px 0;
		}
	}
	&::after {
		content: ' ';
		display: block;
		position: absolute;
		width: 31px;
		height: 43px;
		background: url('../img/icons/phone.png') no-repeat;
		top: 5px;
		right: 5px;
	}
	&__number {
		color: #fff;
		&_color {
			color: #8298a7;
		}
	}
}


//=== Навигация ===

#nav {
	background-color: #0d4e7b;
}

.nav {
	height: 62px;	
}

//=== Меню ===

.menu {
	margin: 0;
	padding: 0;
	font-size: 0;
	padding-left: 15px;
	padding-right: 15px;
	&__item {
		display: inline-block;
		vertical-align: top;
		list-style: none;
		font-family: @font-bold;
		font-size: 18px;
		width: 174px;
		text-align: center;
		
		&.active {
			background-color: @color-orange;
		}
		
		&.action {
			background-color: @color-orange;
		}
		
		&:not(:last-child) {
			border-right: 1px solid rgba(0, 0, 0, 0.3);
		}
		
		&_catalog {
			background-color: @color-green !important;
			width: 263px;
			text-transform: uppercase;
			font-family: @font-neris;
			font-size: 24px;
			position: relative;
			text-align: left;
			border-right: none !important;
			margin-right: 7px;
			z-index: 3;
			
			.menu__link {
				padding-left: 43px;
				
				&:hover {
					background-color: rgba(0, 128, 0, 0);
				}
			}
			
			&::before {
				content: " ";
				display: block;
				background: url(../img/icons/catalog.png) no-repeat;
				width: 21px;
				height: 16px;
				position: absolute;
				top: 23px;
				left: 10px;
			}
			
			&::after {
				content: " ";
				display: block;
				background: url(../img/icons/arrow.png) no-repeat;
				width: 9px;
				height: 5px;
				position: absolute;
				right: 13px;
				top: 27px;
			}
		}
	}
	&__link {
		display: block;
		color: #ffffff;
		line-height: 62px;
		position: relative;
		z-index: 1;
		
		&_arrow {
			&::after {
				content: " ";
				display: block;
				background: url(../img/icons/arrow.png) no-repeat;
				width: 9px;
				height: 5px;
				position: absolute;
				right: 13px;
				bottom: 27px;
			}
		}
		
		&:hover {
			text-decoration: none;
			color: #fff;
			background-color: @color-orange;
			
		}
	}
}

//=== Подменю ===

.menu-open {
	
	&.open {
		.menu-sub {
			display: block;
		}
	}
	
	&:hover {
		.menu-sub {
			display: block;
		}
		
	}
}

.menu__item_catalog {
	.menu-sub {
		display: none;
		background-color: #ffffff;
		border-left: none;
		margin-left: 8px;
		position: relative;
		z-index: 3;
		width: 255px;
		
		&__item {
			list-style: none;
			
			&:not(:last-child) {
				border-bottom: 1px solid #dadada;
			}
			
			&.action {
				background-color: @color-green;
				
				.menu-sub__link {
					color: #ffffff;
					&:after {
						background-position: -5px 0;
					}
				}
			}
		}
		
		&__link {
			font-size: 16px;
			font-family: @font-bold;
			display: block;
			height: 75px;
			line-height: 75px;
			padding-left: 12px;
			position: relative;
			
			&.menu-sub-open {
				&:after {
					content: " ";
					display: block;
					background: url(../img/icons/arrow-r.png);
					width: 5px;
					height: 9px;
					position: absolute;
					top: 33px;
					right: 14px;
				}
				
				&:hover {
					&:after {
						background-position: -5px 0;
					}
				}
			}
			
			&:hover {
				text-decoration: none;
				background-color: @color-green;
				color: #ffffff;
			}
		}
	}
}

.menu-sub {
	display: none;
	background-color: #ffffff;
	border-left: 8px solid @color-orange;
	position: relative;
	z-index: 3;
	box-shadow: 5px 9px 10px 0.00px rgba(0, 0, 0, 0.35);
	width: 174px;
	
	&_size {
		width: 230px;
	}
	
	&__item {
		list-style: none;
		
		&:not(:last-child) {
			border-bottom: 1px solid #dadada;
		}
	}

	&__link {
		display: block;
		font-size: 16px;
		font-family: @font-reg;
		line-height: 36px;
		white-space: nowrap;
		padding-left: 24px;
		padding-right: 25px;
		color: #38689c;
		line-height: 55px;
		text-align: left;

		&:hover {
			text-decoration: none;
			background-color: #f2f2f2;
			color: #38689c;
		}
	}
}


//=== Подменю меню ===
.menu-sub-open {
	position: relative;
	
	&:hover {
		.menu-sub-sub {
			display: block;
		}
	}
}


.menu-sub-sub {
	display: none;
	position: absolute;
	background-color: #ffffff;
	left: 255px;
	top: 0;
	border-left: 8px solid @color-green;
	box-shadow: 5px 9px 10px 0.00px rgba(0, 0, 0, 0.35);
	
	&__item {
		list-style: none;
		
		&:not(:last-child) {
			border-bottom: 1px solid #dadada;
		}
	}
	
	&__link {
		display: block;
		font-size: 16px;
		font-family: @font-reg;
		line-height: 36px;
		white-space: nowrap;
		padding-left: 24px;
		padding-right: 25px;
		color: #38689c;
		line-height: 55px;
		text-transform: none;
		
		&:hover {
			text-decoration: none;
			background-color: #f2f2f2;
			color: #38689c;
		}
	}
}

//=== Меню компании ===

.menu-company {
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 20px;
	padding-left: 22px;
	position: relative;
	&__item {
		list-style: none;	
		float: left;
		
		padding-right: 24px;
	}
	
	&__link {
		display: block;
	}
	
	&__img {
		filter: grayscale();
		margin-bottom: 8px;
		
		&_poz {
			position: absolute;
			top: 130px;
		}
		&_poz2 {
			margin-top: 14px;
			margin-right: 10px;
		}
		
		&:hover {
			filter: none;
		}
	}
}





//=== Фильтр хед ===

.head-filter {
	position: relative;
	&__img {
		position: absolute;
		top: 85px;
		left: 50%;
		&.loop { margin-left: -48px;}
		&.doc { margin-left: -36.5px;}
		&.mic { margin-left: -55px;}
	}
	
	&__link {
		display: block;
		border: 8px solid @border-color;
		text-align: center;
		height: 425px;
		color: #ffffff;
		font-size: 24px;
		text-transform: uppercase;
		font-family: nerisblack;
		position: relative;
		z-index: 1;
		padding-top: 240px;
		
		&::after {
			content: " ";
			display: block;
			height: 8px;
			width: 130px;
			margin-top: 22px;
			background-color: @color-green;
			position: absolute;
			left: 50%;
			margin-left: -65px;
		}
		
		&:hover {
			border-color: @color-green;
			text-decoration: none;
			color: #ffffff;
			box-shadow: 2px 4px 15px 0.00px rgba(0, 0, 0, 0.52);
		}
	}
}

//=== Footer Подвал ===

.footer {}

//=== Навигация footer ===


.footer__top {
	background: #fff;
}

.footer__menu {
	background: url(../img/footer-meu.png) no-repeat center center;
}

.footer-nav {
	display: flex;
	justify-content: space-around;
	padding-top: 68px;
	padding-bottom: 56px;
	&__item-head {
		a {
			font-family: @font-bold;
			font-size: 20px;
			color: @color-text;
			line-height: 30px;
			
			&:hover {
				text-decoration: none;
				color: @color-blue-nav;
			}
		}
	}
	&__item {
		a {
			font-family: @font-reg;
			font-size: 18px;
			color: @color-text;
			line-height: 30px;
			
			&:hover {
				color: @color-blue-nav;
			}
		}
	}
}

//=== Контакты footer ===

.footer__contacts {
	background-color: @color-blue;
	padding-top: 50px;
}

.address {
	padding-top: 85px;
	font-size: 18px;
	color: #ffffff;
	background: url('../img/logo2.png') no-repeat top left;
	
	&__list {
		
	}
	&__item {
		list-style: none;
		
		&:not(:last-child) {
			margin-bottom: 31px;
		}
		
		span {
			color: #4578a4;
		}
		
		&.loc {
			
			&:before {
				content: " ";
				display: inline-block;
				width: 24px;
				height: 36px;
				margin-right: 19px;
				background: url(../img/icons/loc.png) no-repeat;
				position: relative;
				top: 10px;
			}
		}
		&.tel {
			&:before {
				content: " ";
				display: inline-block;
				width: 18px;
				height: 32px;
				margin-right: 21px;
				background: url("../img/icons/tel.svg") no-repeat;
				position: relative;
				top: 7px;
			}
		}
		&.email {
			&:before {
				content: " ";
				display: inline-block;
				width: 27px;
				height: 22px;
				margin-right: 17px;
				background: url("../img/icons/email.svg") no-repeat;
				position: relative;
				top: 4px;
			}
		}
	}
}

//=== footer форма ===

.forms {
	color: #ffffff;
	&__head {
		
	}
	
	&.footer-form {
		color: #fff;
		
		h3 {
			font-size: 20px;
			text-transform: uppercase;
			line-height: 50px;
		}
	}
}


.form {
	display: flex;
	
	&__input {
		display: block;
		width: 249px; //todo
		height: 57px;
		margin-bottom: 15px;
		margin-right: 15px;
		border: 2px solid @border-color;
		background-color: @color-blue;
		padding: 0 17px;
		
		&::-webkit-input-placeholder {color:#809cb0;}
		&::-moz-placeholder          {color:#809cb0;}
		&:-moz-placeholder           {color:#809cb0;}
		&:-ms-input-placeholder      {color:#809cb0;}
		
		&:focus {
			background: #fff;
			outline: none;
			color: #000;
		}
	}
	
	&__text {
		width: 484px; //todo
		height: 201px;
		border: 2px solid @border-color;
		background-color: @color-blue;
		resize: none;
		padding: 15px 24px;
		
		&::-webkit-input-placeholder {color:#809cb0;}
		&::-moz-placeholder          {color:#809cb0;}
		&:-moz-placeholder           {color:#809cb0;}
		&:-ms-input-placeholder      {color:#809cb0;}
		
		&:focus {
			background: #fff;
			outline: none;
			color: #000;
		}
	}
	
	&__btn {
		width: 214px;
		height: 57px;
		border: none;
		background-color: @color-orange;
		color: #ffffff;
		font-size: 24px;
		overflow: hidden;
		float: right;
		margin-bottom: 44px;
		&:hover {
			background-color: #e05409;
		}
	}
}


//=== footer Копирайт ===

.footer__copyright {
	background-color: #0c395a;
	height: 63px;
}

.footer-copy {
	.row {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	&__copy {
		font-size: 18px;
		line-height: 63px;
		color: rgba(151, 205, 255, 0.5);
	}
	&__devel {
		float: right;
		overflow: hidden;
		
		a {
			font-size: 18px;
			line-height: 63px;
			color: rgba(151, 205, 255, 0.5);
			display: block;
			&:hover {
				text-decoration: none;
				
				.devel {
					opacity: 1;
				}
			}
		}
	}
}

.devel {
	opacity: 0.3;
}



//======================================== Контент index ===================================================>

.margin-98 {
	margin-top: 98px;
}

//=== Заголовок н2 ===
.head-2 {
	font-family: @font-neris;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 35px;
	color: @color-blue-head;
	border-left: 8px solid @color-green;
	padding-top: 26px;
	padding-left: 26px;
	padding-bottom: 26px;
}

//=== Продукт главная ===

.product {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	&:hover {
		box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.41);
		
		.product__text {
			background-color: @color-green;
		}

	}
	
	&__link {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
	}
	
	&__text {
		background-color: rgba(15, 78, 122, 0.95);
		height: 65px;
		margin-top: -65px;
		position: relative;
		z-index: 1;
		color: #ffffff;
		font-size: 18px;
		padding-top: 7px;
		padding-left: 20px;
	}
	&__class {
		display: block;
	}
}


//=== Новости главная ===

.new {
	position: relative;
	overflow: hidden;
	margin-bottom: 32px;
	
	&:hover {
		box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.41);
	}
	
	&__link {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		
		&:hover {
			box-shadow: inset 0px -5px 0px 0px @color-green;
		}
	}
	
	&__text {
		padding: 12px 20px 25px;
		background: #fff;
		color: #2e2e2e;
		font-size: 20px;
		line-height: 24px;
		font-family: @font-bold;
		height: 158px;
		
	}
	&__date {
		display: block;
		font-size: 16px;
		line-height: 24px;
		color: #949494;
		font-family: @font-reg;
	}
}

//=== больше ===

.more-link {
	height: 66px;	
	text-align: center;
	display: block;
	line-height: 66px;
	background-color: #0f4e7a;
	color: #fff;
	font-family: @font-bold;
	font-size: 20px;
	text-transform: uppercase;
	
	&:hover {
		background: @color-green;
		text-decoration: none;
		color: #ffffff;
	}
	
	&__catalog {
		
		&:before {
			content: " ";
			display: inline-block;
			background: url(../img/icons/catalog-link.png);
			width: 19px;
			height: 19px;
			position: relative;
			top: 2px;
			left: -13px;
		}
	}
	&__news {
		
		&:before {
			content: " ";
			display: inline-block;
			background: url(../img/icons/catalog-news.png);
			width: 21px;
			height: 14px;
			position: relative;
			left: -13px;
			
		}
	}
}

//=== Проекты главная ===

.release {
	position: relative;
	&__link {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		
		&:hover {
			.release__bg {
				background: red !important;
			}
		}
	}
	
	&__text {
		padding-top: 63px;
		padding-left: 46px;
		padding-bottom: 70px;
		color: #ffffff;
		z-index: 1;
		position: relative;
		height: 244px;
		
		&_black {
			color: #2e2e2e;
			width: 68%;
		}
	}
	
	&__head {
		font-family: @font-bold;
		font-size: 20px;
		line-height: 25px;
		display: block;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	
	&__info {
		font-family: @font-reg;
		font-size: 18px;
		line-height: 14px;
	}
	
	&__bg {
		position: absolute;
		width: 100000px;
		height: 244px;
		background: url(../img/bg.jpg);
		top: 0px;
		
		&_left {
			margin-left: -99251px;
		}
		&_center {
			background: url(../img/bg2.jpg);
			margin-left: -1000px
		}
		&-color1 {
			background: #0f4e7a;
		}
		&-color2 {
			background: #a4ce4d;
		}
	}
}

.release-more {
	
	&__link {
		font-family: @font-neris;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 244px;
		color: @color-blue-head;
		margin-left: 66px;
		
		&:hover {
			text-decoration: none;
			&:before {
				background-position: -35px 0px;
			}
		}
		
		&:before {
			content: " ";
			display: inline-block;
			width: 35px;
			height: 35px;
			background: url(../img/icons/release-more.png);
			position: relative;
			left: -12px;
			top: 5px;
		}
	}
}


//======================================== Контакты ===================================================>

.margin-40 {
	margin-top: 40px;
}
.city {
	position: absolute;
	
	.tabs {
		font-size: 0;
		&__item {
			display: inline-block;
			list-style: none;
			font-size: 20px;
			font-family: @font-bold;
			width: 157px;
			height: 58px;
			text-align: center;
			color: @color-blue-head;
			border: 2px solid @color-blue-head;
			line-height: 58px;
			cursor: pointer;
			
			&.active {
				background-color: @color-blue-head;
				color: #fff;
			}
		}
	}
}

//todo tabs

.tabs__content {
	display: none !important; 
}
.tabs__content.active {
	display: flex !important; 
}


.contacts {
	display: flex;
	
	
	&__left {
		margin-top: 130px;
		margin-right: 37px;
	}
	
	&__right {
		
	}
	
	.address__item {
		font-size: 18px;
		color: @color-blue-head;
		margin-bottom: 15px;
		height: 42px;
		
		span {
			color: @color-blue-head;
		}
	}
}

//map

.map {
	margin-bottom: 45px;
}

//todo call

.call {
	&__item {
		width: 391px;
		height: 148px;
		border: 8px solid @color-blue-light;
		margin-top: 35px;
		position: relative;
		padding-top: 40px;
		padding-left: 175px;
		overflow: hidden;
	}
	&__link {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 3;
		top: 0;
		left: 0;
	}
	&__name {
		color: @color-blue-head;
		font-size: 20px;
		
		
		&_specialist {
			&:before {
				content: " ";
				display: inline-block;
				background: url(../img/icons/mic-b.svg);
				width: 110px;
				height: 103px;
				margin-right: 33px;
				position: absolute;
				left: 24px;
				top: 16px;
			}
		}
		&_existence {
			&:before {
				content: " ";
				display: inline-block;
				background: url(../img/icons/doc-b.svg);
				width: 73px;
				height: 97px;
				margin-right: 54px;
				position: absolute;
				left: 40px;
				top: 18px;
			}
		}
	}
}



//======================================== Heads Заголовок ===================================================>

.heads {
	
	&__h2 {
		margin-top: 34px;
		margin-bottom: 34px;
		padding-left: 10px;
		font-family: @font-neris;
		color: @color-blue-head;
		border-left: 6px solid @color-green;
		line-height: 27px;
		height: 35px;
		font-size: 50px;
		text-transform: uppercase;
		
	}
}

//======================================== Хлеб ===================================================>

.links {
	
	&__list {
		list-style: none;
		font-size: 0;
	}
	&__item {
		display: inline-block;
		font-size: 14px;
		height: 26px;
		line-height: 26px;
		color: #115382;
	}
	&__link {
		color: #ffffff;
		
		span {
			background: @color-blue-head;
			line-height: 26px;
			display: inline-block;
			padding-left: 12px;
			padding-right: 6px;
		}
		
		&:hover {
			color: #fff;
			text-decoration: none;
			
			span {
				background: @color-orange;
			}
			
			&:after {
				background-position: -16px 0;
			}
		}
		
		&:after {
			content: " ";
			display: inline-block;
			background: url(../img/icons/arrow-links.png);
			width: 16px;
			height: 26px;
			position: relative;
			top: 8px;
			margin-right: 10px;
		}
	}
	
}







// ========== @MEDIA ========== 
@import "media";